{% extends "base.html" %}

{% block title %}
заказы
{% endblock %}

{% block style %}
{% include "include_style.html" %}
{% endblock %}

{% block menubar %}
{% include "include_menubar.html" %}
{% endblock %}

{% block sidebar %}
{% include "include_sidebar.html" %}
{% endblock %}

{% block content %}
<div id="content">
    <h2>Заказ: "{{name}}" (id:{{id}})</h2>
    <h5>{{description}}</h5><br>

        <table style="width:100%; border-spacing:0;">
        <tr>
<!--            <th>id</th>-->
            <th>Имя Сервиса</th>
            <th>Тип сервиса</th>
            <th>Скопировать</th>
        </tr>

        {% for services in services_list %}
        <tr>
            <td>{{services.name}}</td>
            <td>{{services.type}}</td>
            <td><a href="/copy-service/?name={{services.name}}&id={{id}}">Copy...</a></td>
        </tr>
        {% endfor %}
    </table> <br>

    <h4>Добавить сервис</h4>
    <form action="#" method="post">
        <div class="form_settings">
            <p><span>Наименование</span><input type="text" name="service_name" value=""></p>
            <!--        <p><span>Описание</span><textarea rows="8" cols="50" name="description"></textarea></p>-->
            <p><span>Тип сервиса</span><select id="id" name="ServiceType">
                {% for service_type in services_type_list %}
                <option value="{{service_type}}">{{service_type}}</option>
                {% endfor %}
            </select></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="button"
                                                                   value="add service">
            </p>
        </div>

<!--        <a href="/order_edit/?id={{id}}">В заказ</a>-->
        <!--        <a href="/add_service/?id={{id}}"><h4>Добавить сервис</h4></a>-->
        <a href="/orders/">В заказы</a>
</div>

{% endblock %}

{% block footer %}
{% include "include_footer.html" %}
{% endblock %}