<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
<!--{% set active_page = current_path %}-->
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="/">flaping<span class="logo_colour">Telecom</span></a></h1>
                <h2>оператор интернет связи</h2>
            </div>
        </div>
        {% block menubar %} {% endblock %}
    </div>
    <div id="site_content">
        {% block sidebar %} {% endblock %}
        {% block content %} {% endblock %}
    </div>
    {% block footer %} {% endblock %}
</div>
</body>
</html>