<div id="content">
            <!-- insert the page content here -->
            <h1>Добро пожаловать на портал "flapingTelecome" </h1>
            <p>Здесь можно ознакомится с предлагаемыми тарифами связи</p>
            <h2>Тарифы</h2>
<!--            <p>Tables should be used to display data and not used for laying out your website:</p>-->
            <table style="width:100%; border-spacing:0;">
                <tr>
                    <th>Тариф</th>
                    <th>Описание</th>
                    <th>Стоимость</th>
                </tr>
                <tr>
                    <td>Ручей</td>
                    <td>до 100 Мбит/с, +160 каналов IPTV</td>
                    <td>500 р/мес</td>
                </tr>
                <tr>
                    <td>Река</td>
                    <td>до 200 Мбит/с, +160 каналов IPTV</td>
                    <td>600 р/мес</td>
                </tr>
                <tr>
                    <td>Водопад</td>
                    <td>до 300 Мбит/с, +160 каналов IPTV</td>
                    <td>800 р/мес</td>
                </tr>
                <tr>
                    <td>Ниагарский водопад</td>
                    <td>до 500 Мбит/с, +160 каналов IPTV</td>
                    <td>1000 р/мес</td>
                </tr>
            </table>
        </div>
</div>