<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>Последние новости</h3>
    <h4>Запущен новый тариф</h4>
    <h5>{{date}}</h5>
    <p>Встречайте новый тариф "Ниагарский водопад"<br/><a
            href="#">Подробнее...</a></p>
    <p></p>
    <h4>Изменение стоимости услуг</h4>
    <h5>{{date}}</h5>
    <p>Информируем, что по некоторым тарифам была изменена стоимость<br/><a
            href="#">Подробнее...</a></p>
    <h3>Прочее</h3>
    <ul>
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 2</a></li>
        <li><a href="#">link 3</a></li>
        <li><a href="#">link 4</a></li>
    </ul>
    <h3>Search</h3>
    <form method="post" action="#" id="search_form">
        <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....."/>
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="images/search.png"
                   alt="Search" title="Search"/>
        </p>
    </form>
</div>